@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  background-color: hsl(226, 43%, 10%);
  color: white;
}

.container {
  width: min(1140px, 100% - 2rem);
  margin-inline: auto;
}
